$var-font-title: "Google Sans" !important;
$var-font-article: "Google Sans Medium" !important;
$color: #739FD8;
$bg-color: #EBF2F2;
$border:#D9DBDD;
$box:#24BC66;
$button-color: linear-gradient(to right, #60828D, #60828D);

$color-filter: #438871;

